{{ define "main" }}

<main aria-role="main">


  <div class="content">
    <div class="index-content framed">
      <center>
      <img src="oles-logos-lt.gif" alt="OLES">
      </center>
      <h1 id="hello-there">Línea de Tiempo OLES</h1>
      <p>sistematiza los<code><b>hechos de violencia social y política</b> ocurridas desde el Estallido Social</code><br> actividad realizada por el Observatorio de Violencia y Legitimidad Social (OLES) </p>
      <div align="center">
          <a class="read-more button" href="/timeline">Explorar → </a>
        </div>
    </div>
  </div>

</div>

</main>



{{ end }}
